*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Neutrals*/
    --color-n-100: #e2d1de;
    --color-n-300: #c7b1c2;
    --color-n-500: #694460;
    --color-n-700: #421b38;
    --color-n-900: #2e0925;

    /* Accent*/
    --color-a-100: #eddee9;
    --color-a-500: #80005a;
    --color-a-900: #500138;

    /* =========== FONT ========== */
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}